{
	"env": {
		"commonjs": true,
		"node": true,
		"es6": true,
	},
	"ecmaFeatures": {
		"modules": true
	},
	// "extends": ["airbnb-base"],
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
        "no-undef": "warn",
		"no-tabs": "off",
		"no-console": "off",
		"comma-dangle": [
			"warn",
			{
				"functions": "never",
				"objects": "always-multiline",
				"arrays": "always-multiline"
			}
		]
	}
}
